$aqua: #14b1bb;
$grey: #e2e2e2;
$text: #646362;
@mixin f300 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@mixin f400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@mixin f500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
@mixin f700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
