@import "_vars.scss";
@import "_global.scss";
@import "_fonts.scss";

// start header
.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 30px;
  }
  &__logo {
    font-size: 30px;
    color: $aqua;
    @include f500;
    letter-spacing: 3px;
    span {
      color: #000;
    }
  }
  &__menu {
    display: flex;
    &-link {
      cursor: pointer;
      border: 2px solid transparent;
      padding: 5px 20px;
      border-radius: 30px;
      transition: 0.3s;
      & + & {
        margin-left: 20px;
      }
    }
    &-link:hover {
      border: 2px solid $aqua;
      box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
      z-index: 6;
      .drop-down__list {
        opacity: 1;
        border-bottom: 1px solid $aqua;
        height: auto;
        padding: 20px 15px 10px;
        top: 35px;
        transition: 1s;
        z-index: 5;
        background-color: #fff;
        border-radius: 10px;
        a:hover {
          color: $aqua;
          transition: 0.3s;
          animation-delay: 0.5s;
        }
      }
    }
    a {
      color: #000;
    }
    .drop-down {
      position: relative;
      padding-right: 15px;
    }
    .lnr-chevron-down:before {
      content: "\e874";
      position: absolute;
      font-size: 8px;
      font-weight: 700;
      top: 13px;
      right: 4px;
    }
    .drop-down__list {
      position: absolute;
      text-align: center;
      top: -150px;
      left: -74px;
      opacity: 0;
      height: 0;
      overflow: hidden;
      width: 225px;

      li {
        margin: 0;
        padding: 5px 15px;
        border: none;
        & + li {
          margin-top: 5px;
        }
      }
    }
    .drop-down__projects {
      left: -39px;
    }
  }

  &__search {
    position: relative;
    max-width: 250px;
    width: 100%;
    input {
      width: 100%;
      border: 2px solid $aqua;
      outline: none;
      border-radius: 30px;
      font-size: 16px;
      height: 45px;
      padding: 0 80px 0 10px;
    }
    button {
      position: absolute;
      right: 0;
      top: 2px;
      width: 70px;
      height: 41px;
      border: none;
      color: #fff;
      border-radius: 30px;
      background-color: $aqua;
      cursor: pointer;
    }
  }
}
// end header

// start slider
.slider {
  width: 100%;
  &__inner {
    margin-bottom: 60px;
  }
  &__image {
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
  }
  .slick-arrow {
    position: absolute;
    z-index: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
    top: 270px;
  }
  .slick-arrow.slick-prev {
    left: 20px;
  }
  .slick-arrow.slick-next {
    right: 20px;
  }
  .lnr-chevron-right::before {
    font-weight: 700;
    color: #fff;
    font-size: 40px;
    border-radius: 50%;
    padding: 10px;
    border: 3px solid #fff;
  }
  .lnr-chevron-left::before {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    border: 3px solid #fff;
  }
  .lnr-chevron-right:hover::before {
    color: $aqua;
    transition: 0.3s;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    border: 3px solid $aqua;
  }
  .lnr-chevron-left:hover::before {
    color: $aqua;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    border: 3px solid $aqua;
  }
}
// end slider

// start offer
.offer {
  &__inner {
    margin-bottom: 60px;
  }
  &__text {
    text-align: center;
    margin-bottom: 30px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 370px;
    text-align: center;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    padding: 30px 20px;
    border-radius: 10px;
    cursor: default;
    &-icon {
      font-size: 70px;
    }
    &-title {
      margin: 20px;
      font-size: 30px;
      font-weight: 500;
    }
    &-text {
      margin-bottom: 20px;
    }
    &-btn {
      border: 2px solid $aqua;
      padding: 10px 25px;
      color: #fff;
      border-radius: 30px;
      cursor: pointer;
      background-color: $aqua;
    }
  }
  &__item:hover {
    background-color: $aqua;
    transition: 0.3s;
    .offer__item-icon {
      color: #fff;
    }
    .offer__item-title {
      color: #fff;
    }
    .offer__item-text {
      color: #fff;
    }
    .offer__item-btn {
      border: 2px solid #fff;
    }
    .offer__item-btn:hover {
      background-color: #fff;
      color: $aqua;
      transition: 0.3s;
    }
  }
}
.title {
  text-align: center;
  font-size: 40px;
  @include f500;
  margin-bottom: 10px;
}
// end offer

// start examples
.examples {
  &__inner {
    margin-bottom: 60px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
  }
  &__item {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 150px;
    transition: all 0.5s;
    &::before {
      content: "";
      background-color: rgba($color: #000000, $alpha: 0);
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 10px;
    }

    &:hover::before {
      content: "";
      background-color: rgba($color: #000000, $alpha: 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 10px;
      transition: all 0.3s;
    }
    &:hover {
      transform: scale(1.05);
      transition: all 0.5s;
      .examples__review {
        display: block;
      }
      .examples__review:hover {
        border: 2px solid $aqua;
        background-color: #fff;
        color: $aqua;
      }
    }
  }
  &__review {
    position: absolute;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 20px;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    display: none;
    transition: all 0.3s;
  }
  &__item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
  }
  &__item:nth-child(2) {
    grid-column: span 3;
    grid-row: span 2;
    height: 100%;
  }
  &__item:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
  }
  &__item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
  }
  &__item:nth-child(7) {
    grid-column: span 3;
    grid-row: span 2;
    height: 100%;
  }
  &__item:nth-child(8) {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
  }
}
// end examples

// media
@import "_media.scss";
