@import "_vars.scss";
@import "_global.scss";
@import "_fonts.scss";

// start header

.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  &__logo {
    font-size: 30px;
    color: $aqua;
    @include f500;
    letter-spacing: 3px;
    span {
      color: #000;
    }
  }
  &__menu {
    display: flex;
    &-link {
      cursor: pointer;
      border: 2px solid transparent;
      padding: 5px 20px;
      border-radius: 30px;
      transition: 0.3s;
      & + & {
        margin-left: 20px;
      }
    }
    &-link:hover {
      border: 2px solid $aqua;
      box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
      z-index: 6;
      .drop-down__list {
        opacity: 1;
        border-bottom: 1px solid $aqua;
        height: auto;
        padding: 20px 15px 10px;
        top: 35px;
        transition: 1s;
        z-index: 5;
        background-color: #fff;
        border-radius: 10px;
        a:hover {
          color: $aqua;
          transition: 0.3s;
          animation-delay: 0.5s;
        }
      }
    }
    a {
      color: #000;
    }
    .drop-down {
      position: relative;
      padding-right: 15px;
    }
    .lnr-chevron-down:before {
      content: "\e874";
      position: absolute;
      font-size: 8px;
      font-weight: 700;
      top: 13px;
      right: 4px;
    }
    .drop-down__list {
      position: absolute;
      text-align: center;
      top: -150px;
      left: -74px;
      opacity: 0;
      height: 0;
      overflow: hidden;
      width: 225px;

      li {
        margin: 0;
        padding: 5px 15px;
        border: none;
        & + li {
          margin-top: 5px;
        }
      }
    }
    .drop-down__projects {
      left: -39px;
    }
  }

  &__search {
    position: relative;
    max-width: 250px;
    width: 100%;
    input {
      width: 100%;
      border: 2px solid $aqua;
      outline: none;
      border-radius: 30px;
      font-size: 16px;
      height: 45px;
      padding: 0 80px 0 10px;
    }
    button {
      position: absolute;
      right: 0;
      top: 2px;
      width: 70px;
      height: 41px;
      border: none;
      color: #fff;
      border-radius: 30px;
      background-color: $aqua;
      cursor: pointer;
    }
  }
}

// end header

// start slider

.slider {
  width: 100%;
  &__inner {
  }
  &__item {
  }
  &__image {
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .slick-arrow {
    position: absolute;
    z-index: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
    top: 270px;
  }
  .slick-arrow.slick-prev {
    left: 20px;
  }
  .slick-arrow.slick-next {
    right: 20px;
  }
  .lnr-chevron-right::before {
    font-weight: 700;
    color: #fff;
    font-size: 40px;
    border-radius: 50%;
    padding: 10px;
    border: 3px solid #fff;
  }
  .lnr-chevron-left::before {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    border: 3px solid #fff;
  }
  .lnr-chevron-right:hover::before {
    color: $aqua;
    transition: 0.3s;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid $aqua;
  }
  .lnr-chevron-left:hover::before {
    color: $aqua;
    transition: 0.3s;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid $aqua;
  }
}
// end slider

// media
@import "_media.scss";
